In [1]:
# Installing dotenv library to manage confidential keys saved as environment variables
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.21.0)

WARNING: Ignoring invalid distribution -illow (c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\yuliy\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: C:\Users\yuliy\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import requests
import json
import pandas as pd
import datetime
import os
from dotenv import load_dotenv

load_dotenv()

True

In [3]:
# functions
# iterate over coordinates of all cities
# for each line, add name and id of the city
# define conditions to select best 5 cities

In [4]:
def timestamp_to_datetime(df, column):
# converts 10-digit timestamp to datetime
    for row in range(0, len(df)):
        df.loc[row, column] = datetime.datetime.fromtimestamp(int(df.loc[row, column]))

In [5]:
city_coord = pd.read_csv('city_coordinates.csv')
city_coord.head(10)

    place_id                    city_name        lat       lon
0  156094680            Mont Saint-Michel  48.635954 -1.511460
1  297756747                   Saint-Malo  48.649518 -2.026041
2  297981358                       Bayeux  49.276462 -0.702474
3  298137491                     Le Havre  49.493898  0.107973
4  297518815                        Rouen  49.440459  1.093966
5  297417241                        Paris  48.858890  2.320041
6  297534793                       Amiens  49.894171  2.295695
7  297472400                        Lille  50.636565  3.063528
8  297508568                   Strasbourg  48.584614  7.750713
9  120791766  Château du Haut-Kœnigsbourg  48.249490  7.344296

In [6]:
city_coord.tail()

     place_id    city_name        lat       lon
30  298222566     Toulouse  43.604462  1.444247
31  297932490    Montauban  44.017584  1.354999
32  298516909     Biarritz  43.471144 -1.552727
33  298271847      Bayonne  43.494514 -1.473666
34  297653650  La Rochelle  46.159113 -1.152043

In [7]:
# for multiple cities
results = []

API_KEY = os.getenv("API_KEY")

for i in range(0, len(city_coord)):
    lat = city_coord.loc[i, "lat"]
    lon = city_coord.loc[i, "lon"]
    response = requests.get(f"https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude=current,minutely,hourly&units=metric&appid={API_KEY}")
    results.append(response.json())

In [8]:
# Checking if we obtained information for all 35 cities:
# print(len(results))

# Checking what information we obtained for a city:
# print(results[0])

In [9]:
type(results[0])
# each element of the list is a dictionary containing 7-day forecast for a given city

dict

In [10]:
results[0]['daily']

[{'dt': 1676808000,
  'sunrise': 1676790462,
  'sunset': 1676827947,
  'moonrise': 1676790840,
  'moonset': 1676823660,
  'moon_phase': 0.97,
  'temp': {'day': 11.43,
   'min': 4.39,
   'max': 11.48,
   'night': 4.39,
   'eve': 6.94,
   'morn': 9.15},
  'feels_like': {'day': 10.61, 'night': 4.39, 'eve': 5.75, 'morn': 6.65},
  'pressure': 1031,
  'humidity': 76,
  'dew_point': 7.12,
  'wind_speed': 4.77,
  'wind_deg': 282,
  'wind_gust': 9.86,
  'weather': [{'id': 801,
    'main': 'Clouds',
    'description': 'few clouds',
    'icon': '02d'}],
  'clouds': 15,
  'pop': 0,
  'uvi': 1.95},
 {'dt': 1676894400,
  'sunrise': 1676876753,
  'sunset': 1676914445,
  'moonrise': 1676878800,
  'moonset': 1676915460,
  'moon_phase': 0,
  'temp': {'day': 11.76,
   'min': 4.82,
   'max': 12.83,
   'night': 7.76,
   'eve': 8.68,
   'morn': 5.31},
  'feels_like': {'day': 10.87, 'night': 6.83, 'eve': 8.06, 'morn': 4.49},
  'pressure': 1028,
  'humidity': 72,
  'dew_point': 6.69,
  'wind_speed': 1.88,
  'wind_deg': 357,
  'wind_gust': 1.88,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': 4,
  'pop': 0,
  'uvi': 1.85},
 {'dt': 1676980800,
  'sunrise': 1676963044,
  'sunset': 1677000942,
  'moonrise': 1676966460,
  'moonset': 1677007020,
  'moon_phase': 0.04,
  'temp': {'day': 12.88,
   'min': 5.8,
   'max': 13.92,
   'night': 9.63,
   'eve': 10.67,
   'morn': 5.98},
  'feels_like': {'day': 11.89, 'night': 8.21, 'eve': 9.91, 'morn': 4.28},
  'pressure': 1018,
  'humidity': 64,
  'dew_point': 5.97,
  'wind_speed': 2.94,
  'wind_deg': 149,
  'wind_gust': 3.92,
  'weather': [{'id': 803,
    'main': 'Clouds',
    'description': 'broken clouds',
    'icon': '04d'}],
  'clouds': 70,
  'pop': 0.06,
  'uvi': 1.71},
 {'dt': 1677067200,
  'sunrise': 1677049333,
  'sunset': 1677087438,
  'moonrise': 1677053940,
  'moonset': 1677098400,
  'moon_phase': 0.08,
  'temp': {'day': 8.73,
   'min': 5.35,
   'max': 9.75,
   'night': 5.35,
   'eve': 7.24,
   'morn': 7.06},
  'feels_like': {'day': 5.26, 'night': 2.98, 'eve': 4.19, 'morn': 5.31},
  'pressure': 1015,
  'humidity': 81,
  'dew_point': 5.53,
  'wind_speed': 7.48,
  'wind_deg': 308,
  'wind_gust': 10.9,
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': 100,
  'pop': 0.62,
  'rain': 1.59,
  'uvi': 1.24},
 {'dt': 1677153600,
  'sunrise': 1677135622,
  'sunset': 1677173935,
  'moonrise': 1677141360,
  'moonset': 1677189600,
  'moon_phase': 0.12,
  'temp': {'day': 8.28,
   'min': 2.57,
   'max': 8.96,
   'night': 3.91,
   'eve': 5.01,
   'morn': 2.57},
  'feels_like': {'day': 6.77, 'night': 0.57, 'eve': 1.8, 'morn': 2.57},
  'pressure': 1016,
  'humidity': 64,
  'dew_point': 1.55,
  'wind_speed': 4.13,
  'wind_deg': 42,
  'wind_gust': 8.22,
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'clouds': 79,
  'pop': 0.26,
  'rain': 0.54,
  'uvi': 1.72},
 {'dt': 1677240000,
  'sunrise': 1677221909,
  'sunset': 1677260431,
  'moonrise': 1677228780,
  'moonset': 0,
  'moon_phase': 0.15,
  'temp': {'day': 8.31,
   'min': 4.95,
   'max': 10.91,
   'night': 6.33,
   'eve': 7.56,
   'morn': 5.94},
  'feels_like': {'day': 4.81, 'night': 2.53, 'eve': 4.03, 'morn': 2.03},
  'pressure': 1016,
  'humidity': 77,
  'dew_point': 4.36,
  'wind_speed': 7.43,
  'wind_deg': 57,
  'wind_gust': 13.78,
  'weather': [{'id': 804,
    'main': 'Clouds',
    'description': 'overcast clouds',
    'icon': '04d'}],
  'clouds': 98,
  'pop': 0,
  'uvi': 0.83},
 {'dt': 1677326400,
  'sunrise': 1677308195,
  'sunset': 1677346927,
  'moonrise': 1677316320,
  'moonset': 1677280680,
  'moon_phase': 0.19,
  'temp': {'day': 9.44,
   'min': 4.2,
   'max': 9.75,
   'night': 4.68,
   'eve': 5.73,
   'morn': 4.2},
  'feels_like': {'day': 5.91, 'night': -0.67, 'eve': 0.68, 'morn': -0.38},
  'pressure': 1017,
  'humidity': 64,
  'dew_point': 2.85,
  'wind_speed': 9.54,
  'wind_deg': 52,
  'wind_gust': 16.3,
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'clouds': 28,
  'pop': 0,
  'uvi': 1},
 {'dt': 1677412800,
  'sunrise': 1677394481,
  'sunset': 1677433422,
  'moonrise': 1677404040,
  'moonset': 1677371700,
  'moon_phase': 0.22,
  'temp': {'day': 6.71,
   'min': 2.52,
   'max': 8.33,
   'night': 4.03,
   'eve': 5.5,
   'morn': 2.52},
  'feels_like': {'day': 1.96, 'night': -1.25, 'eve': 0.82, 'morn': -3.25},
  'pressure': 1019,
  'humidity': 53,
  'dew_point': -2.48,
  'wind_speed': 9.57,
  'wind_deg': 66,
  'wind_gust': 17.07,
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': 5,
  'pop': 0,
  'uvi': 1}]

In [11]:
weather_by_day = []

for city in range(0, len(results)):
    for day in range(0, 7):
        day_weather = results[city]['daily'][day]
        weather_by_day.append(day_weather)

In [12]:
weekly_forecast_df = pd.DataFrame.from_records(weather_by_day)

In [13]:
type(weekly_forecast_df)

pandas.core.frame.DataFrame

In [14]:
weekly_forecast_df.head()

,dt,sunrise,sunset,moonrise,moonset,moon_phase,temp,feels_like,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,weather,clouds,pop,uvi,rain,snow
0,1676808000,1676790462,1676827947,1676790840,1676823660,0.97,"{'day': 11.43, 'min': 4.39, 'max': 11.48, 'nig...","{'day': 10.61, 'night': 4.39, 'eve': 5.75, 'mo...",1031,76,7.12,4.77,282,9.86,"[{'id': 801, 'main': 'Clouds', 'description': ...",15,0.00,1.95,NaN,NaN
1,1676894400,1676876753,1676914445,1676878800,1676915460,0.00,"{'day': 11.76, 'min': 4.82, 'max': 12.83, 'nig...","{'day': 10.87, 'night': 6.83, 'eve': 8.06, 'mo...",1028,72,6.69,1.88,357,1.88,"[{'id': 800, 'main': 'Clear', 'description': '...",4,0.00,1.85,NaN,NaN
2,1676980800,1676963044,1677000942,1676966460,1677007020,0.04,"{'day': 12.88, 'min': 5.8, 'max': 13.92, 'nigh...","{'day': 11.89, 'night': 8.21, 'eve': 9.91, 'mo...",1018,64,5.97,2.94,149,3.92,"[{'id': 803, 'main': 'Clouds', 'description': ...",70,0.06,1.71,NaN,NaN
3,1677067200,1677049333,1677087438,1677053940,1677098400,0.08,"{'day': 8.73, 'min': 5.35, 'max': 9.75, 'night...","{'day': 5.26, 'night': 2.98, 'eve': 4.19, 'mor...",1015,81,5.53,7.48,308,10.90,"[{'id': 500, 'main': 'Rain', 'description': 'l...",100,0.62,1.24,1.59,NaN
4,1677153600,1677135622,1677173935,1677141360,1677189600,0.12,"{'day': 8.28, 'min': 2.57, 'max': 8.96, 'night...","{'day': 6.77, 'night': 0.57, 'eve': 1.8, 'morn...",1016,64,1.55,4.13,42,8.22,"[{'id': 500, 'main': 'Rain', 'description': 'l...",79,0.26,1.72,0.54,NaN

In [15]:
len(weekly_forecast_df)

245

In [16]:
weekly_forecast_df.select_dtypes(include=['object'])

,temp,feels_like,weather
0,"{'day': 11.43, 'min': 4.39, 'max': 11.48, 'nig...","{'day': 10.61, 'night': 4.39, 'eve': 5.75, 'mo...","[{'id': 801, 'main': 'Clouds', 'description': ..."
1,"{'day': 11.76, 'min': 4.82, 'max': 12.83, 'nig...","{'day': 10.87, 'night': 6.83, 'eve': 8.06, 'mo...","[{'id': 800, 'main': 'Clear', 'description': '..."
2,"{'day': 12.88, 'min': 5.8, 'max': 13.92, 'nigh...","{'day': 11.89, 'night': 8.21, 'eve': 9.91, 'mo...","[{'id': 803, 'main': 'Clouds', 'description': ..."
3,"{'day': 8.73, 'min': 5.35, 'max': 9.75, 'night...","{'day': 5.26, 'night': 2.98, 'eve': 4.19, 'mor...","[{'id': 500, 'main': 'Rain', 'description': 'l..."
4,"{'day': 8.28, 'min': 2.57, 'max': 8.96, 'night...","{'day': 6.77, 'night': 0.57, 'eve': 1.8, 'morn...","[{'id': 500, 'main': 'Rain', 'description': 'l..."
...,...,...,...
240,"{'day': 12.32, 'min': 8.37, 'max': 12.93, 'nig...","{'day': 11.57, 'night': 7.97, 'eve': 10.27, 'm...","[{'id': 804, 'main': 'Clouds', 'description': ..."
241,"{'day': 10.85, 'min': 7.13, 'max': 11.07, 'nig...","{'day': 10.26, 'night': 4.48, 'eve': 5.56, 'mo...","[{'id': 804, 'main': 'Clouds', 'description': ..."
242,"{'day': 8.02, 'min': 5.64, 'max': 8.12, 'night...","{'day': 7.17, 'night': 2.98, 'eve': 4.87, 'mor...","[{'id': 500, 'main': 'Rain', 'description': 'l..."
243,"{'day': 8.88, 'min': 4.9, 'max': 9.74, 'night'...","{'day': 6.52, 'night': 7.43, 'eve': 7.17, 'mor...","[{'id': 501, 'main': 'Rain', 'description': 'm..."
244,"{'day': 10.84, 'min': 7.65, 'max': 11.54, 'nig...","{'day': 9.86, 'night': 2.47, 'eve': 5.06, 'mor...","[{'id': 501, 'main': 'Rain', 'description': 'm..."

In [17]:
weekly_forecast_df.loc[0, "temp"]

{'day': 11.43,
 'min': 4.39,
 'max': 11.48,
 'night': 4.39,
 'eve': 6.94,
 'morn': 9.15}

In [18]:
len(weekly_forecast_df.loc[0, "temp"])

6

In [19]:
weekly_forecast_df.loc[0, "feels_like"]

{'day': 10.61, 'night': 4.39, 'eve': 5.75, 'morn': 6.65}

In [20]:
len(weekly_forecast_df.loc[0, "feels_like"])

4

In [21]:
weekly_forecast_df["temp"][0]

{'day': 11.43,
 'min': 4.39,
 'max': 11.48,
 'night': 4.39,
 'eve': 6.94,
 'morn': 9.15}

In [22]:
# keys for creating columns from splitting temperature column
temperature_keys = weekly_forecast_df["temp"][0].keys()

In [23]:
temperature_keys

dict_keys(['day', 'min', 'max', 'night', 'eve', 'morn'])

In [24]:
# splitting dictionary in column temp into several columns:
for row in range(0, len(weekly_forecast_df)):
    for key in temperature_keys:
        weekly_forecast_df.loc[row, "temp_"+key] = weekly_forecast_df["temp"][row][key]

In [25]:
feels_like_keys = weekly_forecast_df["feels_like"][0].keys()

In [26]:
type(feels_like_keys)

dict_keys

In [27]:
for row in range(0, len(weekly_forecast_df)): 
    for key in feels_like_keys:
        weekly_forecast_df.loc[row, "feels_like_"+key] = weekly_forecast_df["feels_like"][row][key]

In [28]:
weekly_forecast_df["weather"][0]

[{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}]

In [29]:
type(weekly_forecast_df["weather"][0])

list

In [30]:
weather_keys = weekly_forecast_df["weather"][0][0].keys()

In [31]:
weather_keys

dict_keys(['id', 'main', 'description', 'icon'])

In [32]:
for row in range(0, len(weekly_forecast_df)): 
    for key in weather_keys:
        weekly_forecast_df.loc[row, "weather_"+key] = weekly_forecast_df["weather"][row][0][key]

In [33]:
weekly_forecast_df.head(5)

,dt,sunrise,sunset,moonrise,moonset,moon_phase,temp,feels_like,pressure,humidity,...,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,weather_id,weather_main,weather_description,weather_icon
0,1676808000,1676790462,1676827947,1676790840,1676823660,0.97,"{'day': 11.43, 'min': 4.39, 'max': 11.48, 'nig...","{'day': 10.61, 'night': 4.39, 'eve': 5.75, 'mo...",1031,76,...,6.94,9.15,10.61,4.39,5.75,6.65,801.0,Clouds,few clouds,02d
1,1676894400,1676876753,1676914445,1676878800,1676915460,0.00,"{'day': 11.76, 'min': 4.82, 'max': 12.83, 'nig...","{'day': 10.87, 'night': 6.83, 'eve': 8.06, 'mo...",1028,72,...,8.68,5.31,10.87,6.83,8.06,4.49,800.0,Clear,clear sky,01d
2,1676980800,1676963044,1677000942,1676966460,1677007020,0.04,"{'day': 12.88, 'min': 5.8, 'max': 13.92, 'nigh...","{'day': 11.89, 'night': 8.21, 'eve': 9.91, 'mo...",1018,64,...,10.67,5.98,11.89,8.21,9.91,4.28,803.0,Clouds,broken clouds,04d
3,1677067200,1677049333,1677087438,1677053940,1677098400,0.08,"{'day': 8.73, 'min': 5.35, 'max': 9.75, 'night...","{'day': 5.26, 'night': 2.98, 'eve': 4.19, 'mor...",1015,81,...,7.24,7.06,5.26,2.98,4.19,5.31,500.0,Rain,light rain,10d
4,1677153600,1677135622,1677173935,1677141360,1677189600,0.12,"{'day': 8.28, 'min': 2.57, 'max': 8.96, 'night...","{'day': 6.77, 'night': 0.57, 'eve': 1.8, 'morn...",1016,64,...,5.01,2.57,6.77,0.57,1.80,2.57,500.0,Rain,light rain,10d

In [34]:
weekly_forecast_df.columns

Index(['dt', 'sunrise', 'sunset', 'moonrise', 'moonset', 'moon_phase', 'temp',
       'feels_like', 'pressure', 'humidity', 'dew_point', 'wind_speed',
       'wind_deg', 'wind_gust', 'weather', 'clouds', 'pop', 'uvi', 'rain',
       'snow', 'temp_day', 'temp_min', 'temp_max', 'temp_night', 'temp_eve',
       'temp_morn', 'feels_like_day', 'feels_like_night', 'feels_like_eve',
       'feels_like_morn', 'weather_id', 'weather_main', 'weather_description',
       'weather_icon'],
      dtype='object')

In [35]:
columns_to_drop = ['moonrise', 'moonset', 'moon_phase', 'temp',
       'feels_like', 'weather', 'weather_icon']
weather_df = weekly_forecast_df.drop(columns_to_drop, axis=1)

In [36]:
weather_df.head()

,dt,sunrise,sunset,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,clouds,...,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,weather_id,weather_main,weather_description
0,1676808000,1676790462,1676827947,1031,76,7.12,4.77,282,9.86,15,...,4.39,6.94,9.15,10.61,4.39,5.75,6.65,801.0,Clouds,few clouds
1,1676894400,1676876753,1676914445,1028,72,6.69,1.88,357,1.88,4,...,7.76,8.68,5.31,10.87,6.83,8.06,4.49,800.0,Clear,clear sky
2,1676980800,1676963044,1677000942,1018,64,5.97,2.94,149,3.92,70,...,9.63,10.67,5.98,11.89,8.21,9.91,4.28,803.0,Clouds,broken clouds
3,1677067200,1677049333,1677087438,1015,81,5.53,7.48,308,10.90,100,...,5.35,7.24,7.06,5.26,2.98,4.19,5.31,500.0,Rain,light rain
4,1677153600,1677135622,1677173935,1016,64,1.55,4.13,42,8.22,79,...,3.91,5.01,2.57,6.77,0.57,1.80,2.57,500.0,Rain,light rain

In [37]:
timestamp_date_columns = ['dt', 'sunrise', 'sunset']
for column in timestamp_date_columns:
    timestamp_to_datetime(weather_df, column)

In [38]:
weather_df.head()

,dt,sunrise,sunset,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,clouds,...,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,weather_id,weather_main,weather_description
0,2023-02-19 13:00:00,2023-02-19 08:07:42,2023-02-19 18:32:27,1031,76,7.12,4.77,282,9.86,15,...,4.39,6.94,9.15,10.61,4.39,5.75,6.65,801.0,Clouds,few clouds
1,2023-02-20 13:00:00,2023-02-20 08:05:53,2023-02-20 18:34:05,1028,72,6.69,1.88,357,1.88,4,...,7.76,8.68,5.31,10.87,6.83,8.06,4.49,800.0,Clear,clear sky
2,2023-02-21 13:00:00,2023-02-21 08:04:04,2023-02-21 18:35:42,1018,64,5.97,2.94,149,3.92,70,...,9.63,10.67,5.98,11.89,8.21,9.91,4.28,803.0,Clouds,broken clouds
3,2023-02-22 13:00:00,2023-02-22 08:02:13,2023-02-22 18:37:18,1015,81,5.53,7.48,308,10.90,100,...,5.35,7.24,7.06,5.26,2.98,4.19,5.31,500.0,Rain,light rain
4,2023-02-23 13:00:00,2023-02-23 08:00:22,2023-02-23 18:38:55,1016,64,1.55,4.13,42,8.22,79,...,3.91,5.01,2.57,6.77,0.57,1.80,2.57,500.0,Rain,light rain

In [39]:
"""def propagate_value(source_df, source_column, target_df, target_column, nb_insertions):
# takes a value from one dataframe and inserts it in several rows in another dataframe
    for source_row in range(0, len(source_df)):
        start_index = 0
        for target_row in range(start_index, nb_insertions):
            target_df.loc[target_row, target_column] = source_df.loc[source_row, source_column]
            start_index = start_index+7"""

'def propagate_value(source_df, source_column, target_df, target_column, nb_insertions):\n# takes a value from one dataframe and inserts it in several rows in another dataframe\n    for source_row in range(0, len(source_df)):\n        start_index = 0\n        for target_row in range(start_index, nb_insertions):\n            target_df.loc[target_row, target_column] = source_df.loc[source_row, source_column]\n            start_index = start_index+7'

In [40]:
#propagate_value(city_coord, 'city_name', weather_df, 'city_name', 7)

In [41]:
city_list = city_coord['city_name']

In [42]:
weather_df.head(10)

,dt,sunrise,sunset,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,clouds,...,temp_night,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,weather_id,weather_main,weather_description
0,2023-02-19 13:00:00,2023-02-19 08:07:42,2023-02-19 18:32:27,1031,76,7.12,4.77,282,9.86,15,...,4.39,6.94,9.15,10.61,4.39,5.75,6.65,801.0,Clouds,few clouds
1,2023-02-20 13:00:00,2023-02-20 08:05:53,2023-02-20 18:34:05,1028,72,6.69,1.88,357,1.88,4,...,7.76,8.68,5.31,10.87,6.83,8.06,4.49,800.0,Clear,clear sky
2,2023-02-21 13:00:00,2023-02-21 08:04:04,2023-02-21 18:35:42,1018,64,5.97,2.94,149,3.92,70,...,9.63,10.67,5.98,11.89,8.21,9.91,4.28,803.0,Clouds,broken clouds
3,2023-02-22 13:00:00,2023-02-22 08:02:13,2023-02-22 18:37:18,1015,81,5.53,7.48,308,10.90,100,...,5.35,7.24,7.06,5.26,2.98,4.19,5.31,500.0,Rain,light rain
4,2023-02-23 13:00:00,2023-02-23 08:00:22,2023-02-23 18:38:55,1016,64,1.55,4.13,42,8.22,79,...,3.91,5.01,2.57,6.77,0.57,1.80,2.57,500.0,Rain,light rain
5,2023-02-24 13:00:00,2023-02-24 07:58:29,2023-02-24 18:40:31,1016,77,4.36,7.43,57,13.78,98,...,6.33,7.56,5.94,4.81,2.53,4.03,2.03,804.0,Clouds,overcast clouds
6,2023-02-25 13:00:00,2023-02-25 07:56:35,2023-02-25 18:42:07,1017,64,2.85,9.54,52,16.30,28,...,4.68,5.73,4.20,5.91,-0.67,0.68,-0.38,802.0,Clouds,scattered clouds
7,2023-02-19 13:00:00,2023-02-19 08:09:46,2023-02-19 18:34:30,1032,82,7.45,5.70,286,10.15,5,...,4.29,7.62,9.27,9.88,2.77,6.57,6.45,800.0,Clear,clear sky
8,2023-02-20 13:00:00,2023-02-20 08:07:58,2023-02-20 18:36:07,1028,75,6.13,2.45,38,2.58,3,...,8.18,8.72,6.69,9.64,7.36,7.49,5.08,800.0,Clear,clear sky
9,2023-02-21 13:00:00,2023-02-21 08:06:08,2023-02-21 18:37:44,1018,70,5.80,3.43,206,4.03,74,...,9.72,11.22,7.01,10.05,7.94,10.41,5.34,803.0,Clouds,broken clouds

In [43]:
# adding city id and city name
"""for i in range(0, 7):
    city_index = 0
    weather_df.loc[i, "city_name"] = city_coord.loc[city_index, "city_name"]"""

'for i in range(0, 7):\n    city_index = 0\n    weather_df.loc[i, "city_name"] = city_coord.loc[city_index, "city_name"]'

In [44]:
"""for i in range(7, 14):
    city_index = 1
    weather_df.loc[i, "city_name"] = city_coord.loc[city_index, "city_name"]"""

'for i in range(7, 14):\n    city_index = 1\n    weather_df.loc[i, "city_name"] = city_coord.loc[city_index, "city_name"]'

In [45]:
"""start_index = 0
end_index = 7
for i in range(start_index, end_index):
    city_index = 0
    weather_df.loc[i, "city_name"] = city_coord.loc[city_index, "city_name"]"""

'start_index = 0\nend_index = 7\nfor i in range(start_index, end_index):\n    city_index = 0\n    weather_df.loc[i, "city_name"] = city_coord.loc[city_index, "city_name"]'

In [46]:
"""start_index = 0
end_index = 7
for city in range(0, len(city_coord)):
    for i in range(start_index, end_index):
        weather_df.loc[i, "city_name"] = city_coord.loc[city, "city_name"]
        print(start_index)
        print(end_index)
    start_index = start_index+7
    end_index = end_index+7"""

'start_index = 0\nend_index = 7\nfor city in range(0, len(city_coord)):\n    for i in range(start_index, end_index):\n        weather_df.loc[i, "city_name"] = city_coord.loc[city, "city_name"]\n        print(start_index)\n        print(end_index)\n    start_index = start_index+7\n    end_index = end_index+7'

In [47]:
target_df_start_index = 0
target_df_end_index = 7
for source_df_row in range(0, len(city_coord)):
    for target_df_row in range(target_df_start_index, target_df_end_index):
        weather_df.loc[target_df_row, "city_name"] = city_coord.loc[source_df_row, "city_name"]
    target_df_start_index = target_df_start_index+7
    target_df_end_index= target_df_end_index+7

In [48]:
weather_df.head(15)

,dt,sunrise,sunset,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,clouds,...,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,weather_id,weather_main,weather_description,city_name
0,2023-02-19 13:00:00,2023-02-19 08:07:42,2023-02-19 18:32:27,1031,76,7.12,4.77,282,9.86,15,...,6.94,9.15,10.61,4.39,5.75,6.65,801.0,Clouds,few clouds,Mont Saint-Michel
1,2023-02-20 13:00:00,2023-02-20 08:05:53,2023-02-20 18:34:05,1028,72,6.69,1.88,357,1.88,4,...,8.68,5.31,10.87,6.83,8.06,4.49,800.0,Clear,clear sky,Mont Saint-Michel
2,2023-02-21 13:00:00,2023-02-21 08:04:04,2023-02-21 18:35:42,1018,64,5.97,2.94,149,3.92,70,...,10.67,5.98,11.89,8.21,9.91,4.28,803.0,Clouds,broken clouds,Mont Saint-Michel
3,2023-02-22 13:00:00,2023-02-22 08:02:13,2023-02-22 18:37:18,1015,81,5.53,7.48,308,10.90,100,...,7.24,7.06,5.26,2.98,4.19,5.31,500.0,Rain,light rain,Mont Saint-Michel
4,2023-02-23 13:00:00,2023-02-23 08:00:22,2023-02-23 18:38:55,1016,64,1.55,4.13,42,8.22,79,...,5.01,2.57,6.77,0.57,1.80,2.57,500.0,Rain,light rain,Mont Saint-Michel
5,2023-02-24 13:00:00,2023-02-24 07:58:29,2023-02-24 18:40:31,1016,77,4.36,7.43,57,13.78,98,...,7.56,5.94,4.81,2.53,4.03,2.03,804.0,Clouds,overcast clouds,Mont Saint-Michel
6,2023-02-25 13:00:00,2023-02-25 07:56:35,2023-02-25 18:42:07,1017,64,2.85,9.54,52,16.30,28,...,5.73,4.20,5.91,-0.67,0.68,-0.38,802.0,Clouds,scattered clouds,Mont Saint-Michel
7,2023-02-19 13:00:00,2023-02-19 08:09:46,2023-02-19 18:34:30,1032,82,7.45,5.70,286,10.15,5,...,7.62,9.27,9.88,2.77,6.57,6.45,800.0,Clear,clear sky,Saint-Malo
8,2023-02-20 13:00:00,2023-02-20 08:07:58,2023-02-20 18:36:07,1028,75,6.13,2.45,38,2.58,3,...,8.72,6.69,9.64,7.36,7.49,5.08,800.0,Clear,clear sky,Saint-Malo
9,2023-02-21 13:00:00,2023-02-21 08:06:08,2023-02-21 18:37:44,1018,70,5.80,3.43,206,4.03,74,...,11.22,7.01,10.05,7.94,10.41,5.34,803.0,Clouds,broken clouds,Saint-Malo
10,2023-02-22 13:00:00,2023-02-22 08:04:18,2023-02-22 18:39:21,1015,72,4.27,8.98,302,12.02,100,...,8.31,7.64,5.27,3.65,4.85,5.15,500.0,Rain,light rain,Saint-Malo
11,2023-02-23 13:00:00,2023-02-23 08:02:26,2023-02-23 18:40:57,1017,71,2.18,6.06,44,8.04,79,...,6.40,4.40,4.65,2.03,2.65,3.24,500.0,Rain,light rain,Saint-Malo
12,2023-02-24 13:00:00,2023-02-24 08:00:33,2023-02-24 18:42:33,1017,79,4.39,9.08,55,13.63,100,...,7.76,6.55,3.63,2.14,3.60,2.27,500.0,Rain,light rain,Saint-Malo
13,2023-02-25 13:00:00,2023-02-25 07:58:40,2023-02-25 18:44:09,1017,71,3.69,12.44,59,17.22,27,...,6.48,5.02,4.78,-0.02,1.00,0.15,802.0,Clouds,scattered clouds,Saint-Malo
14,2023-02-19 13:00:00,2023-02-19 08:05:37,2023-02-19 18:28:04,1031,75,6.91,7.80,272,12.64,51,...,7.47,9.16,10.30,3.58,5.25,6.27,803.0,Clouds,broken clouds,Bayeux

In [49]:
weather_df.tail(15)

,dt,sunrise,sunset,pressure,humidity,dew_point,wind_speed,wind_deg,wind_gust,clouds,...,temp_eve,temp_morn,feels_like_day,feels_like_night,feels_like_eve,feels_like_morn,weather_id,weather_main,weather_description,city_name
230,2023-02-25 13:00:00,2023-02-25 07:50:10,2023-02-25 18:48:52,1009,92,5.96,7.18,249,11.02,100,...,6.63,6.77,4.16,3.67,2.92,6.77,502.0,Rain,heavy intensity rain,Biarritz
231,2023-02-19 13:00:00,2023-02-19 07:59:13,2023-02-19 18:40:37,1030,73,8.97,2.69,341,3.34,74,...,11.24,8.83,13.21,10.03,10.87,8.29,803.0,Clouds,broken clouds,Bayonne
232,2023-02-20 13:00:00,2023-02-20 07:57:43,2023-02-20 18:41:57,1024,60,9.41,3.70,86,7.23,69,...,14.27,9.22,16.93,11.88,13.82,7.72,803.0,Clouds,broken clouds,Bayonne
233,2023-02-21 13:00:00,2023-02-21 07:56:11,2023-02-21 18:43:17,1019,63,8.12,3.60,299,6.07,100,...,11.95,11.60,14.46,11.29,11.63,10.64,804.0,Clouds,overcast clouds,Bayonne
234,2023-02-22 13:00:00,2023-02-22 07:54:38,2023-02-22 18:44:36,1020,92,10.87,4.50,289,8.10,100,...,11.40,11.46,12.06,10.24,10.92,11.17,501.0,Rain,moderate rain,Bayonne
235,2023-02-23 13:00:00,2023-02-23 07:53:04,2023-02-23 18:45:54,1015,80,4.81,7.40,314,10.06,100,...,7.37,8.08,7.83,4.17,6.50,5.65,501.0,Rain,moderate rain,Bayonne
236,2023-02-24 13:00:00,2023-02-24 07:51:29,2023-02-24 18:47:13,1011,91,4.80,2.35,143,4.02,100,...,6.51,5.94,6.33,5.79,5.30,4.23,500.0,Rain,light rain,Bayonne
237,2023-02-25 13:00:00,2023-02-25 07:49:53,2023-02-25 18:48:31,1008,94,6.42,6.99,249,10.73,100,...,6.74,6.88,4.73,4.13,3.18,6.88,501.0,Rain,moderate rain,Bayonne
238,2023-02-19 13:00:00,2023-02-19 08:02:03,2023-02-19 18:35:13,1031,83,8.36,3.79,344,4.89,39,...,9.33,8.10,10.60,3.58,8.16,6.94,802.0,Clouds,scattered clouds,La Rochelle
239,2023-02-20 13:00:00,2023-02-20 08:00:24,2023-02-20 18:36:42,1026,68,6.86,4.57,66,6.68,6,...,11.58,6.80,11.80,7.05,10.86,4.12,800.0,Clear,clear sky,La Rochelle
240,2023-02-21 13:00:00,2023-02-21 07:58:43,2023-02-21 18:38:10,1017,75,7.94,4.01,127,6.21,100,...,10.64,8.62,11.57,7.97,10.27,6.37,804.0,Clouds,overcast clouds,La Rochelle
241,2023-02-22 13:00:00,2023-02-22 07:57:02,2023-02-22 18:39:37,1017,87,8.84,6.37,301,8.89,85,...,8.51,9.94,10.26,4.48,5.56,7.80,804.0,Clouds,overcast clouds,La Rochelle
242,2023-02-23 13:00:00,2023-02-23 07:55:19,2023-02-23 18:41:05,1015,72,3.30,5.43,72,7.88,80,...,7.35,5.65,7.17,2.98,4.87,4.26,500.0,Rain,light rain,La Rochelle
243,2023-02-24 13:00:00,2023-02-24 07:53:35,2023-02-24 18:42:32,1012,82,5.87,5.76,59,8.91,100,...,9.53,5.88,6.52,7.43,7.17,2.40,501.0,Rain,moderate rain,La Rochelle
244,2023-02-25 13:00:00,2023-02-25 07:51:50,2023-02-25 18:43:59,1009,72,6.11,13.59,56,20.59,90,...,9.64,8.33,9.86,2.47,5.06,4.83,501.0,Rain,moderate rain,La Rochelle

In [50]:
len(weather_df["city_name"].value_counts())

35

In [51]:
weather_df.to_csv("weather_forecast.csv")