In [1]:
# Installing dotenv library to manage confidential keys saved as environment variables
#!pip install python-dotenv

In [2]:
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy.sql import text

import os
from dotenv import load_dotenv

load_dotenv()

True

In [3]:
RDS_LOGIN = os.getenv("RDS_LOGIN")
RDS_PASSWORD = os.getenv("RDS_PASSWORD")

engine = create_engine(f"postgresql+psycopg2://{RDS_LOGIN}:{RDS_PASSWORD}@kayakdb.crwzncqmo9mf.eu-west-3.rds.amazonaws.com/postgres", echo=False)

In [4]:
url = "https://kayak-booking-bucket-12-12-2022.s3.eu-west-3.amazonaws.com/kayak.csv"
dataset = pd.read_csv(url)
dataset.to_sql("kayak", engine, if_exists="replace")

1000

## Examples of SQL queries

In [5]:
conn = engine.connect()

# Displaying the list of destinations present in the database
statement = text("SELECT DISTINCT city_name FROM kayak")
result = conn.execute(statement)
result.fetchall()

[('La Rochelle',),
 ('Dijon',),
 ('Lyon',),
 ('Mont Saint-Michel',),
 ('Collioure',),
 ('Saint-Malo',),
 ('Biarritz',),
 ('Amiens',),
 ('Bormes-les-Mimosas',),
 ('Aigues-Mortes',),
 ('Marseille',),
 ('Saintes-Maries-de-la-Mer',),
 ('Strasbourg',),
 ('Toulouse',),
 ('Avignon',),
 ('Montauban',),
 ('Château du Haut-Kœnigsbourg',),
 ('Rouen',),
 ('Le Havre',),
 ('Eguisheim',),
 ('Uzès',),
 ('Paris',),
 ('Nîmes',),
 ('Lille',),
 ('Carcassonne',),
 ('Aix-en-Provence',),
 ('Cassis',),
 ('Bayeux',),
 ('Besançon',),
 ('Ariège',),
 ('Grenoble',),
 ('Gorges du Verdon',),
 ('Annecy',),
 ('Colmar',),
 ('Bayonne',)]

In [6]:
# Displaying 10 hotels that have scores higher thant 9.5
statement = text("SELECT DISTINCT hotel_name, score FROM kayak WHERE score > 9.5 LIMIT 10")
result = conn.execute(statement)
result.fetchall()

[("L'Eléa - T2 hypercentre", 9.7),
 ('Sublime Apt With Wifi In The Heart Of The City!', 9.7),
 ("Crocoloft, proche arènes, loft cosy dans l'écusson", 10.0),
 ('CARCASSONNE HISTORIC DUPLEX 4 star air conditioned APARTEMENT d`ÉGLANTINE', 9.6),
 ("L'appart du centre", 9.8),
 ('Stunning apartment with view at the very heart of Paris', 9.8),
 ('Apartment- La Rochelle historic city centre', 9.7),
 ('Le Clos Fleuri', 9.6),
 ('la maison des chapeliers', 10.0),
 ('Marcelle en Camargue', 9.9)]